.compositor {
  padding-top: 7rem;
}

.text-center {
  padding: 50px 0px;
}

p {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  padding: 22px 50px;
}

.p-center {
  padding: 22px 100px;
}

.h3, h3 {
  /* font-family:'Alegreya Sans', sans-serif; */
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 28px;
  align-content: center;
  font-size: 1.07em;
  padding: 1rem;
}

.bkg-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
}

.snake-image {
 background-position: center;
}

.set-image {
  background-position: center;
}

#logo-container {
  filter: grayscale(100%) contrast(87%) brightness(117%);
  justify-content: space-around;
}

#logo-container:hover {
  filter: none;
  transition-timing-function: ease-in-out;
} 

/* @media only screen and (max-width: 1050px) {
  p {
    padding: 22px 40px;
  }

  .compositor {
    padding-top: 4rem;
  }

  .snake-image {
    background-position: 0 -2rem;
    height: 20rem;
   }
}

@media only screen and (max-width: 500px) {
  .snake-image {
    background-position: -12rem 0;
   }
} */