.hobbyist {
  padding-top: 12rem;
}

p {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  padding: 22px 25px;
}

.h3, h3 {
  /* font-family:'Alegreya Sans', sans-serif; */
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 28px;
  align-content: center;
  font-size: 1.07em;
  padding: 1rem;
}

.image-inset .image-default {
  display: block;
}

.image-inset .image-hover {
  display: none;
}

.image-inset:hover .image-default {
  display: none;
}

.image-inset:hover .image-hover {
  display: block;
}

@media only screen and (max-width: 1200px) {
  p {
    padding: 22px 100px;
  }
}