html, body {
  height: 100%;
}

/* #page-title {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

#page-title > div > div {
  clear: both;
}

.title-main {
  font-weight: 800;
  font-size: 130px;
  color: transparent; 
  font-family: 'Barlow Condensed', sans-serif;
  background-image: url('../img/stars-edited-v3.jpg');
  background-clip: text;
  background-size: 400px 250px;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 100px;
  letter-spacing: 10px;
  padding-bottom: 20px;
  z-index: -999;
}

.subtitles {
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
}

.subtitles a {
  color: rgb(91, 0, 128);
}

.link:hover {
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.link:link {
  text-decoration: none;
}

.link:active {
  color: darkslateblue;
}

@media only screen and (max-width: 450px) {
  .title-main {
    font-size: 70px;
    line-height: 57px;
    letter-spacing: 6px;
    background-size: 300px 150px;
    background-position: 55% 50%;
  }

  .subtitles {
    font-size: 12px;
  }
}