.navbar {
  padding: 0.5em;
}

.navbar-light .navbar-nav .nav-link {
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: rgb(91, 0, 128); 
}


.navbar-light .navbar-nav .nav-link:hover {
  color:rgb(150, 150, 150); 
}

#title-style {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  #title-style {
    font-size: 2.4em;
  }
}

.title-nav, .title-main, #title-style {
  font-weight: 800;
  color: transparent; 
  font-family: 'Barlow Condensed', sans-serif;
  background:  url('../img/stars-edited-v3.jpg');
  background-position: 40% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
}

.title-nav, #title-style {
  background-size: 250px 150px;
  letter-spacing: 6px;
}