.container-fluid {
  padding: 0;
}

.photos {
  padding-top: 3rem;
}

.photos img {
  padding: 5px;
}

.col-sm > a:focus {
  outline: none;
}

.col-sm > a:hover {
  filter: opacity(75%) saturate(50%)
}

.btn:hover {
  filter: invert(100%)
}