.the-artist {
  padding-top: 7rem;
}

.fancy-font {
  font-family: 'Italiana', cursive;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 6px;
  line-height: 45px;
  margin: 0;
  color: rgb(95, 38, 105);
}

p {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}

.p-center {
  padding: 22px 100px;
}

.h3, h3 {
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 28px;
  align-content: center;
  font-size: 1.07em;
  padding: 1rem 0;
  margin: 0;
}

.bkg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
  height: 40rem;
}

#about-buttons {
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}

.artist-btn1 {
  filter: saturate(0) opacity(70%)
}

.artist-btn1:hover {
  filter: saturate(100%)
}

@media only screen and (max-width: 850px) {
  .bkg-image {
    height: 20rem;
    background-position: center;
  }
}