<div class="container px-0 compositor">
    <div class="row">
        <div class="col-sm text-center">
            <h3>What is Compositing?</h3>
            <p class="p-center">To simply put it, compositing is the act of combining multiple elements together on to live-action plates to create a seamless photo-real image.
                In total I have over four years of experience working as a Compositor for the visual-effects industry. My career started in a small studio in Toronto, 
                Canada where I worked on various reknowned television and feature-film projects. Eventually that lead me to The Netherlands, where I currently reside, 
                developing commercial projects for various brands like Heineken, Nike and Lipton, to name a few.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="./img/vfx/snake.png">
        </div>
    </div>

    <div class="row">
      <div class="col-sm text-center">
        <h3>What is your skill level?</h3>
        <p>I consider myself to be an advance Compositor because I have worked across the entire spectrum of compositing. First starting in rotoscoping, masking out live-action plates to be placed over 
           top of others. During that time I dabbled in prep work, painting out various things per the client request. It then evolved into basic 2D composition, integrating 2D elements, and developing a liking 
           for keying. Finally finishing off in 3D composition, working in the 3D environment to integrate various elements, or adjusting the lighting passes to balance the CGI so that 
           it fits nicely into the live-action plate.</p>
      </div>
      <div class="col-sm text-center">
        <h3>Software Expertise</h3>
        <p> Over the course of my career I have worked with numerious software packages, however, these are the ones that I use on a daily basis when I composite a shot together.</p>
        <div class="d-flex" id="logo-container">
            <img src="./img/logos/nuke-logo.png"/>
            <img src="./img/logos/mocha-logo.png"/>
            <img src="./img/logos/linux-logo.png"/>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="./img/vfx/set-extension.png">
        </div>
    </div>

    <div class="row">
        <div class="col-sm text-center">
            <h3>Who I've worked for</h3>
            <p class="p-center">I've worked with many companies both large and small, reknowned and obscure. I'm comfortable working in any environment and I especially enjoy working in 
                an open atmosphere where coworkers can collaborate with others and share their ideas. If you feel that I can help you in any way with your compositing needs and would like to 
                get in touch, feel free to head on over to my <a href="the-artist.html" class="link">Artist Page</a> and shoot me an e-mail. While there, you will also find a copy of my CV which has a
                full detailed list of which companies I've worked for and on which projects I worked on. I look forward to hearing from you! 
            </p>
        </div>
    </div>
</div>