<div class="container px-0 hobbyist">
  <div class="row text-center">
    <div class="col-xl">
      <h3>Web Development<br>and UX Design</h3>
      <p>Lately I've been going back to my educational roots and improving my web development skills. I feel I can make some nifty responsive websites; this
         is just one example of my creations and I have plenty more resting on the back burner. My process for designing my websites are very basic. I first like to 
         sketch out rough page designs to get a sense of how I want my content to be laid out and than I begin to develop them in Visual Studio Code.
         The main languages I've been using lately are HTML, CSS, JS and Jquery; and I'd love to expand my palette especially in the backend department!
      <br>
      If you want to see the nitty gritty on how I made this website, feel free to check out my code on my <a href="https://bitbucket.org/kristarowland/" class="link" target="_blank">bitbucket homepage</a>.
      </p> 
    </div>
    <div class="col-xl d-flex justify-content-center align-items-center">
      <div class="image-inset my-5">
        <img class="image-default" src="./img/low-rez/photo-site.png"/>
        <img class="image-hover" src="./img/low-rez/photo-site-ux.png"/>
      </div>
    </div>
  </div>
  <div class="row text-center">
      <div class="col-xl d-flex justify-content-center align-items-center">
          <div class="image-inset my-5">
            <img class="image-default" src="./img/low-rez/photo-edit.png"/>
            <img class="image-hover" src="./img/low-rez/photo-edit-org.png"/>
          </div>
      </div>
    <div class="col-xl py-5">
      <h3>Photo Editing</h3>
      <p>Coinciding with my career, it was fitting for me to get involved in photography and photo editing. Personally I enjoy photographing
         architecture and nature, specifically focusing on how the light interacts with these mediums. All of my images are edited using 
         Adobe Lightroom and Adobe Photoshop.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xl">
        <h3>Animation</h3>
        <p>From 2D to 3D, stop-motion and CGI, I have a fondness for all forms of animations. Most of my animations are produced in Adobe After Effects 
            and then compiled in Adobe Premiere Pro. I enjoy bringing together everything I've learned and animation is one of those mediums
            where I have used my skills for my own profession use such as for the opening title animation on my demo reel shown on the right.
        </p>
    </div>
    <div class="col-xl d-flex justify-content-center align-items-center">
        <div class="image-inset my-5">
          <img class="image-default" src="./img/low-rez/animation-still.png"/>
          <img class="image-hover" src="./img/low-rez/animation.gif"/>
        </div>
    </div>
  </div>
</div>