<div class="container-fluid p-0 h-100 d-flex flex-column justify-content-center align-items-center" id="page-title"> 
    <div class="title-main">KRISTA<br>ROWLAND</div>
    <div class="subtitles"><a href="compositor.html" class="link">compositor</a> | <a href="photography.html" class="link">photographer</a> | <a href="hobbyist.html" class="link">hobbyist</a> | <a href="the-artist.html" class="link">the artist</a></div>
</div>
