<div class="container-fluid photos">
  <div class="row no-gutters">
    <div class="col-sm">
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1387.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1387.jpg"/></a> 
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0317.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0317.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1686.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1686.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1015.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1015.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1340.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1340.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/florence.png"><img class="img-fluid w-100" src="./img/low-rez/florence.png"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/dutch-tulips.png"><img class="img-fluid w-100" src="./img/low-rez/dutch-tulips.png"/></a>
    </div>
    <div class="col-sm">
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1127.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1127.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0689.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0689.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_toronto.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_toronto.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0935_2.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0935_2.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0286.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0286.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0219.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0219.jpg"/></a>
    </div>
    <div class="col-sm">
        <a data-fancybox="gallery" href="./img/high-rez/IMG_1559.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_1559.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0762.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0762.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0869.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0869.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/IMG_0282.jpg"><img class="img-fluid w-100" src="./img/low-rez/IMG_0282.jpg"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/venice.png"><img class="img-fluid w-100" src="./img/low-rez/venice.png"/></a>
        <a data-fancybox="gallery" href="./img/high-rez/jellyfish.png"><img class="img-fluid w-100" src="./img/low-rez/jellyfish.png"/></a>
        <button type="button" id="goto-top" class="btn btn-link"><img class="img-fluid w-100" src="./img/button/back-up-button-large.png"/></button>
    </div>
  </div>
</div>