<div class="container px-0 the-artist">
  <div class="row">
    <div class="col-xl">
      <div class="bkg-image" style="background-image: url('./img/krista-profile.jpg');" alt="Responsive image"></div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-xl text-center">
      <h3>Who am I?</h3>
      <p class="p-center"> Hi there, my name is Krista Rowland. I'm a 25 year-old Canadian living in Utrecht, The Netherlands with my Dutch partner. 
          I'm a Compositor by trade but I consider myself an all-around visual artist. I have nearly 5 years of experience working in the feature-film,
          television and commericial industry. Most notably I had the pleasure of working on such projects as, The Legend of Tarzan (Feature-film), Vikings 
          (TV Series), and with corporate brands including, Heineken, Milka and Lipton; to name a few. 
      </p>
  </div>
  <div class="row py-5">
    <div class="col-xl text-center">
      <h3>Visual Artist,<br>what do you mean?</h3>
      <p>Although my work experience centres around one area of the media industry, I've always been passionate about all avenues of media production. 
        I'm a curious person by nature so I enjoy dipping my toes into different fields, which is how I've grown to love other outlets like photography, 
        photo editing, animation and now, web development. However through my education and work experience, I was also able to explore many different 
        functions varying from web design, graphic design, UX design, compositing, marketing and public relations. As a result therefore I have gained a strong 
        artistic and technical background, working with a variety of software packages and programming languages that are applicable across 
        multiple platforms. 
      </p>
    </div>
    <div class="col-xl text-center">
      <h3>What I've been<br>up to lately?</h3>
      <p> At the moment I am on a small career break to improve my Dutch language skills; I'm currently working towards a B1 level Dutch language certificate at 
          Babel Taalinstituut in Utrecht. However when I have some spare time you'll often find me behind a computer either editing my photos, watching behind-the-scenes 
          videos on Youtube, or learning more about web development. 
      </p>
      <p> Once my language course in finished, I hope to explore web development further by pursueing a career in Front-End Development. Eventually I would also expand
        my programming knowledge by working with back-end languages so that I can get a complete understanding of the digital world and how it all works.
      </p>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-xl text-center">
      <h3>How can you get in touch with me?</h3>
      <p class="p-center">Feel free to click on the mail link below, it will forward you to my personal email. While you're still here, take a copy of my CV it includes a full list 
        of my software expertise and work history, but if you like to keep it simple, I've also included a link to my Linkedin profile. Let's connect and have a chat!
      </p>
      <div class="d-flex" id="about-buttons">
          <a href="./img/Rowland_K_CV.pdf" download id="artist-logos"><img class="artist-btn1" src="./img/button/CV-logo.png"></a>
          <a href="https://www.linkedin.com/in/kristarowland/" target="_blank" id="artist-logos"><img class="artist-btn1" src="./img/button/linkedin-logo.png"></a>   
          <a href="mailto:krista21rowland@gmail.com" target="_top" id="artist-logos"><img class="artist-btn1" src="./img/button/mail-logo.png"></a>
      </div>
    </div>
  </div>
</div>