<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
  <a class="navbar-brand" href="index.html" id="title-style">KRISTA ROWLAND</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="compositor.html" class="link">compositor</a>
      </li>
      <li "nav-item">
        <a class="nav-link" href="photography.html" class="link">photography</a>
      </li>
      <li "nav-item">
        <a class="nav-link" href="hobbyist.html" class="link">hobbyist</a>
      </li>
      <li "nav-item">
        <a class="nav-link" href="the-artist.html" class="link">the artist</a> 
      </li>
    </ul>
  </div>
</nav>

{% content %}